services:
  squidward-node:
    image: squidwardproxy/squidward-node
    restart: unless-stopped
    depends_on:
      - squidward-node-valkey
    network_mode: host
    volumes:
      - ./.data/.acme.sh:/root/.acme.sh
      - ./.data/certs/:/etc/squid/certs
      - ./.data/squid/logs:/var/log/squid
      - ./.data/squid/spool:/var/log/spool
    secrets:
      - valkey_password
      - letsencrypt_email
      - domain
      - app_port
      - ssl_cert
    mem_limit: 2048m
    ulimits:
      nproc: 1073741816
      nofile: 1048576
    environment:
      REDIS_DB: 0
      VECTOR_DEBUG: true

  squidward-node-valkey:
    image: valkey/valkey:9.0-alpine3.22
    container_name: squidward-node-valkey
    hostname: squidward-node-valkey
    restart: unless-stopped
    volumes:
      - squidward-node-valkey-vol:/data
    network_mode: host
    secrets:
      - valkey_password
    entrypoint: "/bin/sh -c \"valkey-server --requirepass $$(cat /run/secrets/valkey_password)\""

secrets:
  valkey_password:
    environment: REDIS_PASSWORD
  letsencrypt_email:
    environment: LETSENCRYPT_EMAIL
  domain:
    environment: DOMAIN
  app_port:
    environment: APP_PORT
  ssl_cert:
    environment: SSL_CERT

volumes:
  squidward-node-valkey-vol:
    driver: local
    external: false
    name: squidward-node-valkey-vol