services:
  squidward-node:
    image: squidwardproxy/squidward-node:dev
    restart: unless-stopped
    depends_on:
      - squidward-node-valkey
    network_mode: host
    env_file:
      - .env
    mem_limit: 2048m
    ulimits:
      nproc: 1073741816
      nofile: 1048576
    volumes:
      - ./:/app
      - ./vector.yaml:/etc/vector/vector.yaml
      - ./.data/.acme.sh:/root/.acme.sh
      - ./.data/certs/:/etc/squid/certs
      - ./.data/squid/logs:/var/log/squid
      - ./.data/squid/spool:/var/log/spool
      - ./shell/docker-entrypoint.dev.sh:/usr/local/bin/entrypoint.sh
      - ./shell/squid-auth-connector.js:/app/bin/squid-auth-connector.js
      - ./dist/libs/squid-auth-handler/index.js:/app/bin/squid-auth-handler.js
    command:
      - npm start:dev


  squidward-node-valkey:
    image: valkey/valkey:9.0-alpine3.22
    container_name: squidward-node-valkey
    hostname: squidward-node-valkey
    restart: unless-stopped
    network_mode: host
    volumes:
      - squidward-node-valkey-vol:/data
    secrets:
      - valkey_password
    entrypoint: "/bin/sh -c \"valkey-server --requirepass $$(cat /run/secrets/valkey_password)\""

secrets:
  valkey_password:
    environment: REDIS_PASSWORD

volumes:
  squidward-node-valkey-vol:
    driver: local
    external: false
    name: squidward-node-valkey-vol